<header>

	<nav role='navigation'>
		<ul>
			<li id="home" aria-selected="false"><a href="/">Home</a></li>
			<li id="approach" aria-selected="false"><a href="/approach">Approach</a></li>
			<li id="services" aria-selected="false"><a href="/services">Services</a></li>
			<li id="publications" aria-selected="false"><a href="/publications">Publications</a></li>
			<li id="contact" aria-selected="false"><a href="/contact">Contact</a></li>
			<li id="faq" aria-selected="false"><a href="/FAQ">FAQ</a></li>
			<li id="links" aria-selected="false"><a href="/links">Links</a></li>
		</ul>
	</nav>
</header>

