<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
        <META HTTP-EQUIV="EXPIRES" CONTENT="-1">
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <title>{% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}

        <!-- Import Fonts and CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" media="(min-width: 741px)" href="/css/lg-header.css">
        <link rel="stylesheet" media="(min-width: 741px)" href="/css/grid.css">
        <link rel="stylesheet" media="(max-width: 740px)" href="/css/sm-header.css">
        <link rel="stylesheet" media="(max-width: 552px)" href="/css/xs-header.css">
        <link rel="stylesheet" media="(min-width: 930px)" href="/css/divider.css">

        <!-- Import Third-Party Libraries and Frameworks -->
    </head>
    <body>
        {% include "./header.html" %}
        <main>{% block content %}{% endblock %}</main>
        {% include "./footer.html" %}
    </body>
</html>