<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}

        <!-- Import CSS -->
        <link rel="stylesheet" href="/css/style.css">

        <!-- Import Third-Party Libraries and Frameworks -->
    </head>
    <body>
        {% include "./header.html" %}
        <main>{% block content %}{% endblock %}</main>
        {% include "./footer.html" %}
    </body>
</html>