nav[role="navigation"] {
  position: absolute;
}

nav ul {
	list-style-type: none;
  margin: 0;
  padding: 0px 0px 0px 50px;
}

nav ul li {
	float: left;
}

nav ul li a {
	padding: 15px 15px	;
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.banner {
  @include box-shadow(rgba(0, 0, 0, 0.30) 0 4px 10px 0);
    background: url(public/images/okc-skyline.jpg);
    height: 100px;
    background-size: cover;
}