nav[role="navigation"] {
  position: absolute;
}

nav ul {
	list-style-type: none;
  margin: 0;
}

nav ul li {
	float: left;
}

nav ul li a {
	padding: 15px 5px;
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}