html {
	height: 100%;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
body {
  position: relative;
  margin: 0;
  min-height: 100%;
}
main {
	padding: 50px 25px 100px;
  max-width: 55em;
  margin: auto;
}
footer {
	position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100px;
}
ul	{
	list-style-type: none;
	padding: 0;
}
h3 {
	font-style: italic;
}

.form-image {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 150px;
}
.caption {
    display: block;
}
.links > li {
  margin-bottom: 1em; 
}
.welcome {
  margin-top: 0;
}
.image-wrapper {
  width: 100%;
}
.image-wrapper img {
  max-width: 100%;
  height: auto;
  width: auto; /* For IE8 */
}
.map-wrapper {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  max-width: 500px;
  overflow: hidden;
}
.map-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* HEADER */

/* COLOR */
nav ul li[aria-selected='true'] {
  background-color: #126E8D;
}
nav ul li:hover {
  background-color: #126E8D;
}

/* GENERAL DEFINITION */
nav[role="navigation"] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #025E7D;
  display: block;
}
nav ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}
nav ul li {
  list-style: none;
  display: inline-block;
  /* FIXES EXTRA SPACE IN BETWEEN NAV LINKS - REVISIT/INVESTIGATE */
  margin: 0px -3px; 
}
nav ul li a {
  padding: 8px 7px;
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

@media only screen and (min-width: 577px) {
  nav[role="navigation"] {
    position: absolute;
  }
  nav ul li a {
    padding: 15px 5px;
  }
}

@media only screen and (min-width: 741px) {
  nav ul li a {
    padding: 15px 15px;
  }
  .grid:after {
    content: "";
    display: table;
    clear: both;
  }
  [class*='col-1-'] {
    float: left;
  }
  .col-1-2 {
    width: 50%;
  }
  .col-1-3 {
    width: 33%;
  }
  .col-center {
    margin: auto;
    display: block;
  }
}
