nav[role="navigation"] {
  position: fixed;
}

nav ul {
	list-style-type: none;
  margin: 0;
}

nav ul li {
	float: left;
}

nav ul li a {
	padding: 5px 5px;
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-transform: lowercase;
  text-decoration: underline;
}