{% extends '../layout.html' %}

{% block title %}Dr. Kampschaefer, PsyD - Oklahoma City Therapist - My Approach{% endblock %}

{% block content %}

	<h1>My Approach</h1>

	<p>People seek psychotherapy and psychoanalysis for themselves or a loved one in response to a significant focus of unhappiness. Everyone experiences varieties of anxious and depressed feelings in their own unique way. Fortunately, however, there are enough commonalities between persons that it is possible for one to understand and help another.</p>

	<p>It is crucial in the initial session for the therapist to clarify the main themes of someone’s pain and begin addressing it. It takes many years and considerable training for a therapist to become skilled at guiding the process of growth psychological change involves. Usually, such change is experienced as profound and life altering in ways a person could not envision at the outset of their personal treatment.</p>

	<p>Because the relationship between a person and the therapist is the vehicle of this change, it is important to take several sessions to determine the goodness of fit.  Once that is established, psychodynamic therapy and analysis endeavor to get to the heart of someone’s difficulties. Often, the situations that foster such difficulties originate within our most formative relationships while growing up, and “morph” or download themselves into our later struggles in work, love and other close relationships.</p>

	<p>As the early decisions and conclusions we once erroneously reached become clearer to our adult reality minds, we are able to understand and accept ourselves better, understand each other more deeply, and communicate and problem solve more effectively. Our ability to creatively handle the challenges life inevitably brings expands. “Quick fix” or self help approaches, or even psychotropic medications, usually cannot produce the deeper and more long lasting structural changes that are often necessary to help us grow. Medications can often diminish symptoms, but they cannot generate the happiness we seek.</p>

	<p>Once productively begun, the process of psychotherapy becomes an open one dependent upon a series of choices or “forks in the road” we encounter.</p>

	<p>More information about psychodynamic psychotherapy and analysis can be found at the outstanding websites listed under my “<a href='/links'>links</a>” section.</p>

	<script type="text/javascript">
	    if (window.location.pathname === '/approach') {
	        document.getElementById('approach').setAttribute("aria-selected", "true");
	    }
	</script>

{% endblock %}