{% extends '../layout.html' %}

{% block title %}Dr. Kampschaefer, PsyD - Oklahoma City Therapist - Contact{% endblock %}

{% block content %}

	<div class='grid'>
		<div class='col-1-3'>
			<h1>Contact</h1>

			<h3>Phone Number</h3>
			<a href="tel:+14058101133">(405) 810-1133</a>
			
			<h3>Address</h3>
			<address>
				50 Penn Place<br>
				1900 Northwest Expressway, Suite 900<br>
				Oklahoma City, OK 73118
			</address>	

			<h3>Email</h3>
			<p><a href="mailto:info@drkampschaefer.com">info@drkampschaefer.com</a></p>
		</div>
		<div class='col-1-2'>
			<h3>Map</h3>
			<div class='map-wrapper'>
				<iframe  width="500" height="375" frameborder="0" style="border:0"
				src="https://www.google.com/maps/embed/v1/place?q=1900%20Northwest%20Expressway%2C%20Suite%20900%2C%20Oklahoma%20City%2C%20OK%2C%20United%20States&key=AIzaSyAxHt3Xodc8_8_4aKKxGfg3q-1SMDPWfGs" allowfullscreen></iframe>
			</div>
		</div>
	</div>

	<script type="text/javascript">
    if (window.location.pathname === '/contact') {
      document.getElementById('contact').setAttribute("aria-selected", "true");
    }
	</script>

{% endblock %}