{% extends '../layout.html' %}

{% block title %}Dr. Kampschaefer, PsyD - Oklahoma City Therapist - Frequently Asked Questions{% endblock %}

{% block content %}

	<h1>Frequently Asked Questions</h1>

	<ul>
		<li>
			<strong>How much does psychotherapy cost?</strong>
			<p>My fee is $140 for a 38-45 minute session, and $175 for a 53-60 minute session.</p>
		</li>
		<li>
			<strong>Can I use my insurance?</strong>
			<p>In some cases, yes. I am on several but not all insurance panels. My office staff or I can usually answer that question. Alternatively, your particular policy may reimburse for what is called an “out of network” provider.  Please check the details of your individual policy, but my office staff will also check and file the claims for you.</p>
		</li>
		<li>
			<strong>What is the difference between psychotherapy and psychoanalysis?</strong>
			<p>The similarities and differences between the two treatment formats is beyond the scope of this page, and varies from one practitioner to another, or even from patient to patient. In general, psychotherapy refers to a treatment conducted on a once or twice weekly basis, while psychoanalysis is a more time and cost, as well as relationship intensive process requiring three to five sessions per week. Often, people find that when they get more comfortable learning about themselves and see how beneficial it is, they wish to go “deeper” and further in that process than they originally thought they could.</p>
		</li>
		<li>
			<strong>What is the difference between a psychotherapist and a psychoanalyst?</strong>
			<p>Psychoanalysis is one of many different approaches to psychotherapy. A psychoanalyst is a licensed mental health practitioner (either M.D., Ph or Psy.D., MSW or LPC) who has gone on for between 5 and 10 years of additional intensive training in psychological and emotional development, the origins and dynamics of “psychopathology”, and the intricacies of personal change and growth. It usually involves having one’s own personal psychoanalysis and intensive supervision of actual cases conducted over a period of several years, in addition to the years of formal coursework.</p>
		</li>
		<li>
			<strong>What is the “ABPP”?</strong>
			<p>The ABPP is a specialty certification process of excellence in knowledge and practice conducted by the American Board of Professional Psychology in a number of different areas of the practice of Professional Psychology, including Psychoanalysis. It is the equivalent of Board Certification in various areas of medical practice. It is undertaken voluntarily by the individual Psychologist who is so motivated.</p>
		</li>
		<li>
			<strong>How will I know if therapy is helping or not?</strong>
			<p>If the therapy is effective, you will first feel a beginning sense of hope for a better future for yourself and/or your relationships. As therapy progresses, a person feels gradually less unhappy, less anxious and less depressed, and feels a sense of personal strength that comes from the increasing self-knowledge and self-acceptance generated by the process. When therapy does not prove effective enough, it is necessary to explore other alternative resources for help.</p>
		</li>
		<li>
			<strong>What if I am on or need medication or have a history of addiction?</strong>
			<p>Many people come to therapy because medications have not helped enough with their emotional pain and frustration. In other situations, during the process of treatment it may be that referral to a Psychiatrist or other professional may appear to both of us to make sense as an adjunct to our work together. Fortunately, there are a number of fine colleagues of various types available in the Oklahoma City area. I am not a certified substance abuse counselor (LADC), but am very supportive of the recovery movement. Many persons whose recovery process is stable enough find that psychotherapy facilitates their sense of growth and mastery in that process.</p>
		</li>
	</ul>

	<script type="text/javascript">
	    if (window.location.pathname === '/FAQ') {
	        document.getElementById('faq').setAttribute("aria-selected", "true");
	    }
	</script>

{% endblock %}