{% extends '../layout.html' %}

{% block title %}Dr. Kampschaefer, PsyD - Oklahoma City Therapist - Links{% endblock %}

{% block content %}

	<h1>Useful Links</h1>
	<ul class='links'>
		<li>
			<a href="http://www.linkedin.com/pub/dr-michael-kampschaefer/9/aa1/298" target="_blank">Dr. Kampschaefer’s LinkedIn Profile</a>
		</li>
		<li>
			<a href="http://www.osps.info" target="_blank">The Oklahoma Society for Psychoanalytic Studies</a>
		</li>
		<li>
			<a href="http://www.ipa.org.uk" target="_blank">The International Psychoanalytic Association</a>
		</li>
		<li>
			<a href="http://www.facebook.com/APADiv39" target="_blank">American Psychological Association, Division of Psychoanalysis (39)</a>
		</li>
		<li>
			<a href="http://www.abpp.org" target="_blank">American Board of Professional Psychology</a>
		</li>
		<li>
			<a href="http://www.psychoanalysis.org.uk" target="_blank">British Psychoanalytical Society</a>
		</li>
		<li>
			<a href="http://www.contemporaryfreudiansociety.org" target="_blank">The Contemporary Freudian Society</a>
			<small>(see especially “information resources”)</small>
		</li>
		<li>
			<a href="http://www.icpla.edu" target="_blank">Institute for Contemporary Psychoanalysis, Los Angeles</a>
		</li>
	</ul>

	<script type="text/javascript">
	    if (window.location.pathname === '/links') {
	        document.getElementById('links').setAttribute("aria-selected", "true");
	    }
	</script>

{% endblock %}