{% extends '../layout.html' %}

{% block title %}Dr. Kampschaefer, PsyD - Oklahoma City Therapist - Publications and Appointments{% endblock %}

{% block content %}

	<h1>Publications, Memberships, and Faculty Appointments</h1>
	<h3>Publications</h3>
	<ul>
		<li>
			Kampschaefer, G.M. The Quiet Revolution in American Psychoanalysis: Selected Papers of Arnold M. Cooper (Book Review); Newsletter of Division 39 of the American Psychological Association, Volume XXIX, no.3, Summer, 2009; pp47-49.
		</li>
		<li>
			Kampschaefer, G.M. Summary of Section I Invited Panel, Spring Meeting of Division 39, April 2005. In the Psychologist Psychoanalyst, Vol. 25, No.3, Summer 2005, pp. 17-18.
		</li>
		<li>
			Kampschaefer, G. M. Review of Healing the Soul in the Age of the Brain: Why Medication Isn’t Enough. Elio Frattaroli, M.D. Penguin Books, 2001. The Oklahoma Psychologist, Fall 2005, p.6.
		</li>
		<li>
			Kampschaefer, G.M. Prescription Privileges: Boon or Boondoggle?  The Oklahoma Psychologist, Fall, 2002. P.1.
		</li>
		<li>
			Links to Power Point Presentations of several of Dr. Kampschaefer’s popular classes on Anxiety and Depressive Affect, as well as Understanding Relationship Issues, are available on his LinkedIn site.
		</li>
	</ul>
	<h3>Memberships</h3>
	<ul>
		<li>Oklahoma Society for Psychoanalytic Studies</li>
		<li>American Psychological Association (Division of Psychoanalysis)</li>
		<li>American Board and Academy of Psychoanalysis</li>
		<li>International Psychoanalytic Association</li>
		<li>Psychoanalytic Institute of Northern California</li>
		<li>Institute for Contemporary Psychoanalysis</li>
	</ul>
	<h3>Faculty Appointments</h3>
	<ul>
		<li>Personal and Supervising Analyst, Psychoanalytic Institute of Northern California</li>
		<li>Clinical Associate Professor, Department of Psychiatry and Behavioral Sciences, University of Oklahoma Health Sciences Center</li>
		<li>Clinical Associate Professor, Griffin Memorial Hospital Psychiatric Residency Program</li>
	</ul>

	<script type="text/javascript">
	    if (window.location.pathname === '/publications') {
	        document.getElementById('publications').setAttribute("aria-selected", "true");
	    }
	</script>

{% endblock %}